
body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.navbar {
    background-color: #333;
    padding: 10px;
}


.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

.navbar a:hover {
    background-color: #555;
}

.content {
    padding: 20px;
}
