
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;              
    justify-content: space-between; 
    align-items: center;       
    background-color: #333;
    padding: 10px 20px;
}


.logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    display: flex;             
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding: 8px 12px;
}


.nav-links a:hover {
    background-color: #555;
    border-radius: 5px;
}